@font-face {
  font-family: "iconfont"; /* Project id 4940228 */
  src: url('iconfont.woff2?t=1749124536027') format('woff2'),
       url('iconfont.woff?t=1749124536027') format('woff'),
       url('iconfont.ttf?t=1749124536027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengxin:before {
  content: "\e9dc";
}

.icon-act006:before {
  content: "\e60b";
}

.icon-a-cellimage_huaban1fuben94:before {
  content: "\e602";
}

.icon-led-off:before {
  content: "\e7d1";
}

.icon-bolangxian:before {
  content: "\e66b";
}

.icon-shidu:before {
  content: "\e662";
}

.icon-fangbo-01:before {
  content: "\e600";
}

.icon-led-on:before {
  content: "\f880";
}

.icon-wenduji:before {
  content: "\e61b";
}

.icon-a-shoushoushi:before {
  content: "\e8ad";
}

.icon-zhengxianquxian:before {
  content: "\e71f";
}

